header img {
  max-width: 200px;
}

h1 {
  display: inline;
  font-size: 5em;
  position: relative;
  bottom: 42px;
}

header {
  text-align: center;
}

div.taco {
  display: inline-block;
  border: 2px solid gray;
  border-radius: 2px;
  margin: 10px;
  padding: 5px;
  background-color: #ddffdd;
}
.taco img {
  max-width: 100px;
}